{% load crispy_forms_tags  %}
{% include 'accounts/navbar.html' %}

{% block register %}

    <div class="mt-2 container">
        <form class=" g-3 bg-info  m-auto p-2 rounded" method="POST">
            {% csrf_token %}
            <div class="row mt-2">
                <div class="col">
                    {{ register_form.email }}
                </div>
        
                <div class="col">
                    {{ register_form.username}}
                </div>
            </div>
            <div class="row mt-2">
                <div class="col">
                    {{ register_form.password1}}
                </div>
                <div class="col">
                    {{ register_form.password2}}
                </div>
            </div>
            <div>
                <input class="btn btn-success" type="submit" value="Register">
            </div>
        </form>
    </div>

{% endblock %}


{% include 'accounts/footer.html' %}