.container {
    background-color: rgb(179, 6, 58);
    justify-content: stretch;
}
.products {
    display: grid;
}
@media screen and (max-width: 500px) {
    .products {
        margin: 0;
        padding: 0;
        width: 100%;
    }
}
@media screen and (min-width: 500px) and (max-width: 800px) {
    .products {
        width: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 800px){
    .products {
        width: auto;
        grid-template-columns: repeat(3, 1fr);
    }
}
