.product {
    background-color: cyan;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.product_img {
    width: 100%;
    height: 300px;
    border-radius: 5px;
}
.product_title {
    width: 100%;
    font-size: 10px;
    font-weight: bold;
}
/* .product_description {
} */
.product_price {
    font-weight: bold;
    font-size: 14px;
    background-color: cornsilk;
    width: 20%;
    border: 1px solid block;
    margin: 0 auto;
}
.by_now_button {
    background-color: green;
    font-weight: bold;
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin: 15px auto 0 auto;
}

@media screen and (max-width: 500px) {
    .product {
        margin: 10px auto;
        width: 100%;
    }
    .by_now_button {
        background-color: green;
        font-weight: bold;
        color: white;
        padding: 5px 15px;
        width: 50%;
        border-radius: 5px;
        margin: 10px auto 0px auto;
    }
}

@media screen and (min-width: 500px) and (max-width: 800px) {
    .product {
        margin: 10px;
    }
}
@media screen and (min-width: 800px) and (max-width: 1300px) {
    .product {
        margin: 10px;
    }
}
